{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}

<link rel="stylesheet" href="src/css/style.css">

{% endblock %}
{% block alert%}
{% endblock %}
{% block body %}
    <div class="logo">CSGO Market Monitoring</div>
    <div class="footer">
        <span>Copyright 2020 - 2020</span>
        <span>Version <span class="version">0.1</span></span>
    </div>
    {% if error %}
        <input type="hidden" id="redirectError" data-error="true" data-error-content="{{ error.messageKey|trans(error.messageData, 'security') }}"></div>
    {% else %}
        <input type="hidden" data-error="false" value=""></div>
    {% endif %}
    <div class="login-form">
        <form method="post" id="login-form">

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
            <div>
                <label for="inputUsername">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autofocus>
            </div>
            <div>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" >
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
        </form>
    </div>
{% block javascripts %}
<script src="src/js/login/script.js"></script>
{% endblock %}
{% endblock %}
